<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BooksStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.bookstore.web.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.bookstore.web.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SecFilter</display-name>
    <filter-name>SecFilter</filter-name>
    <filter-class>com.bookstore.controller.filters.SecFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecFilter</filter-name>
    <url-pattern>/SecFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>BookController</display-name>
    <servlet-name>BookController</servlet-name>
    <servlet-class>com.bookstore.web.controller.BookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookController</servlet-name>
    <url-pattern>/BookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManagementController</display-name>
    <servlet-name>UserManagementController</servlet-name>
    <servlet-class>com.bookstore.web.controller.UserManagementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagementController</servlet-name>
    <url-pattern>/UserManagementController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CacheFilter</display-name>
    <filter-name>CacheFilter</filter-name>
    <filter-class>com.bookstore.controller.filters.CacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CacheFilter</filter-name>
    <url-pattern>/CacheFilter</url-pattern>
  </filter-mapping>
</web-app>